.product {
  @apply flex flex-col items-center justify-end m-5 p-7 w-full  bg-white;
  z-index: 1;
  min-width: 100px;
  max-height: 450px;
}

.rating {
  @apply flex;
}

.product > img {
  @apply max-h-52 w-full object-contain mb-7;
}

.product > button {
  @apply bg-product_btn border-solid border-2 rounded-sm mt-5 px-2;

  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}

.price {
  @apply mt-2;
}

.info {
  @apply h-28 mb-2;
}
